// Place all the styles related to the checkins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checkins {
  width: 100%;
  margin: auto;
}

.column-headers {
}

.checkins td {
  width: 100px;
  text-align: center;
}
