<div id='welcome'>
  <% if current_user %>
    <h3> Welcome <%= @current_user.name %>! </h3>
  <% end %>
</div>

<form id="checkin-form" action="#">
  <% @priorities.each_with_index do |priority, i|%>
    <section class='priority'>
      <%= i+1 %>. <%= priority.capitalize %> <div id="<%= priority %>" class="slider"></div>
    </section>
  <% end %>
  <input id='submit-btn' type='submit' value='Create'>
</form>
