<div class="nav-bar">
  <%= link_to "Gopi's Priorities", root_path %>
  <% if current_user %>
    <%= link_to "My Checkins", checkins_path %>
    <%= link_to "Logout", logout_path %>
    <img src="<%= @current_user.photo_src %>">
  <% else %>
    <a href='/users/new' id='goog-signin-btn'> Sign in with Google </a>
  <% end %>
</div>